/* styles.css */

/* Add styles here to customize the appearance of your app */

body {
  background-color: tomato;
  color: #111;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: normal;
  letter-spacing: -1px;
  line-height: 1;
  text-align: left;
  padding: 12px 20px;
  padding-bottom: 200px;
}

h1 {
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  font-family: Inter, ui-sans-serif, system-ui, Helvetica, Arial, sans-serif;
  font-feature-settings: normal;
  text-align: left;
  box-sizing: border-box;
  border: 0 solid;
  margin: 0;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(38 39 48 / var(--tw-text-opacity));
  grid-column-start: 1;
  grid-column-end: 13;
  font-size: 6rem;
  letter-spacing: -0.035em;
  line-height: 1;
  padding: 12px 0px;
}

h3 {
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  font-family: Inter, ui-sans-serif, system-ui, Helvetica, Arial, sans-serif;
  font-feature-settings: normal;
  text-align: left;
  box-sizing: border-box;
  border: 0 solid;
  margin: 0;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(38 39 48 / var(--tw-text-opacity));
  grid-column-start: 1;
  grid-column-end: 13;
  font-size: 18;
  letter-spacing: -0.035em;
  line-height: 1;
  padding: 12px 0px;
}

p {
  color: #111;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: left;
  padding-bottom: 20px;
}

#editor {
  width: 80%;
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 4px;
  outline-style: solid;
  outline-color: black;
  outline-width: 3px;
  margin-left: 30px;
  margin-bottom: 30px;
  margin-top: 15px;
  padding-bottom: 20px;
}

.log-label {
  margin-top: 1px;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  border-radius: 4px;
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 30%;
  border-color: #000;
  border-width: 3px;
  text-align: center;
  outline: none;
  font-size: 15px;
  margin-left: 30px;
  margin-bottom: 5px;
  font-weight: 700;
  font-family: sans-serif;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  /* padding: 3px; */
  width: 30%;
  display: none;
  border-radius: 3px;
  /* overflow: hidden; */
  background-color: white;
  margin-left: 30px;
}

textarea {
  width: 100%;
  height: 150px;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: white;
  color: #111;
  font-size: 10px;
  resize: none;
  height: 300px;
  font-family: Inter, ui-sans-serif, system-ui, Helvetica, Arial, sans-serif;
  /* border: 2px solid #ccc; */

  /* outline-width: 3px; */
}

select {
  height: 36px;
  border: 1px solid #999;
  font-size: 18px;
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 4px 4px #ccc;
  padding-left: 3px;
}
